packages: [
  "atom-clock"
  "atom-pair"
  "atom-ternjs"
  "atom-wrap-in-tag"
  "color-picker"
  "file-icons"
  "language-babel"
  "markdown-preview-plus"
  "package-sync"
  "pigments"
  "rails-snippets"
  "react-es7-snippets"
  "react-redux-atom-snippets"
  "react-redux-react-native-snippets"
  "tree-view-copy-relative-path"
  "vaporwave-syntax"
  "vaporwave-ui"
]
